//trayendo mi variable desde -componets.scss para poder usar
@use "components";
//creando un mixin para reutilizar codigo en las secciones
@mixin section-display{
    width:100%;
    max-width: 992px;
    margin: auto;
    padding:3rem;
}

@mixin section-modify{
    background-color: white;
    border-radius: 13px;
    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
    
  
   }

html{
    //( poniendo anchura del 100% de la anchura de la ventana gráfica)
    min-width: 100vw;
}
//definiendo mis custom properties-varaibles en css--esto lo aprendi en internet ya que lo encontre en bootstrap
:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.7;
    color: var(--body);
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}
a {
    color: var(--dark);
    text-decoration: none;
}

.hero{
    background-image: url(../assets/img/cover.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 153, 153, 0.5);
    z-index: -1;
}

.sec-plataforma{
    .col-img {
        background-image: url(../assets/img/plataforma.PNG);
        background-position: right;
        background-size:auto;
        min-height: 500px;
    }
    

}
.sec-libro{
    .col-img {
        background-image: url(../assets/img/footer-gril.jpeg);
        background-position: right;
        background-size:contain;
        min-height: 500px;
    }
    

}

body{
    padding:0;
    margin: 0;
    font-family: Sora,"sans-serif";
    line-height: 1.7;
}
.card-border{
    border:solid 10px white;
    border-radius: 20px;
    transition: all ease-out 0.2s;
    overflow: hidden;
    background-color: #e1f0e6;

    &:hover
    {
        transform: scale(1.05);
     }

}

.tiktok,.add-style{
    @include section-modify();
}
nav{
 
    background-color: components.$color-main;
}
.logo{
    max-width: 10rem;

}






.col-img {
    background-image: url(../assets/img/home-pic.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}


.sec-features{
   @include section-display();
   
   display: flex;
   flex-direction: column;
   align-items: center;
   .intro{
    text-align: center;
    h3{
    font-size: 1.8rem;
    }
    p{
        font-size:0.8rem ;
        color:components.$color-main;
    }
   }

   .features{
    display: flex;
    gap: 1rem;
    align-items: center;
        .text{
            padding: 2rem 0;
            flex: 1;
            
            .feature{
                display: flex;
                flex-direction: row;
                align-items: center;
                .description{
                    margin-left: 1rem;
                    max-width: 20rem;
                    .description-title{
                        font-size: 1.15rem;

                    }
                    .description-text{
                        font-size: 1rem;

                    }

                }

            }
        }
        .image{
            img{
                max-width: 20rem;

            }
 
        }

   }
}

.sec-benefits{
    padding-top: 120px;
    padding-bottom: 120px;
}

.service{
    position: relative;
    z-index: 2;
    overflow: hidden;
     
        &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: -100%;
        left: 0;
        background-color: components.$color-main;
        z-index: -1;
        opacity: 0;
        transition: all 0.4s ease;
        }
    
        &:hover{
            .iconbox{
                background-color: var(--white);
               color: components.$color-main;
            }

            h5{
                color: var(--white);
            }
            p{
                color: var(--white);
            }

            &::after{
                opacity: 1;
                  top: 0;

            }
        }

  
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;
    &:hover{
        box-shadow: none;
        transform: translateY(5px);
    }
}

.sec-kpis{
    display: flex;
    width: 100%;
    background-color: components.$color-main;
    color: white;
    padding:4rem;
    .kpi{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        .number
        {
            font-size: 3.5rem;
            font-weight: 600;
        }
        .desc{
            font-size: 0.9;
            color: white;
        }
    }
}

.row-frace{
    background-image: url(../assets/img/portada-tutorias.png);
   
    padding-top: 200px;
    padding-bottom: 200px ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}


.row-frace::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 153, 153, 0.5);
    z-index: -1;
}

.sec-footer{
    .footer-top {
        padding-top: 90px;
        padding-bottom: 90px;
        background-color: var(--dark);

        a {
            color: var(--body);
            &:hover{
                color: var(--white);
            }
        }
    }
    

    .footer-bottom {
        background-color: #242933;
    }
       
   
}

//para que funciones con menos de md
@media (max-width:768px) {
   

    .sec-footer-cta{
        width: 100%;
        text-align: center;
        
    }

    .sec-benefits{

        .intro {
           text-align: center;
            h3{
                font-size: 2rem;
            }
        }
        }

    .sec-features{
        .intro{
            h3{
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }

    .sec-kpis{
        display: flex;
        flex-direction: column;

        .kpi{
            flex: 1;
        }
    }

       
    
  }